################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mapua Programming/Mapua Programming/gitignore.cs
